body {
  background-color: black;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
  background-color: black;
  border: 5px solid white;
}

.range {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.range-label {
  color: white;
}